.root {
	border-top: 1px solid black;
	text-align: center;
	height: 55px;
}
.root:nth-child(odd) {
	box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 5%);
}
.root:global(:hover) {
	box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 5%);
}
.groupAction {
	position: relative;
	top: -15px;
	background: whitesmoke;
	z-index: 10;
	width: 86%;
	margin-left: 2px;
	padding: 5px;
	border: 1px solid black;
}
.groupAction :global(p) {
	border-bottom: 1px solid black;
}
.groupEditMultiRow {
	position: absolute;
	top: 227px;
	z-index: 10;
	left: 52px;
	width: 95.7%;
}
.editAll {
	display: flex;
}
.groupLimit :global(label) {
	font-size: 20px;
}
.groupPage {
	display: flex;
	position: relative;
	top: 17px;
}
.groupPage :global(input) {
	width: 40px;
	height: 23px;
	margin-left: 5px;
}
.groupPage :global(button) {
	width: 26px;
	height: 29px;
}
.groupLimit :global(input) {
	position: relative;
	top: -2px;
}

.customsLimit {
	position: absolute;
	top: 33px;
	left: -32px;
	width: 100px;
	z-index: 10;
	padding: 0px 15px;
	background: whitesmoke;
}
.customsLimit :global(p) {
	cursor: pointer;
	border-bottom: 1px solid black;
}
.deleteAction {
	position: absolute;
	top: 165px;
	height: 130px;
	padding: 0 10px;
	z-index: 20;
	background: whitesmoke;
}
.deleteAction :global(p) {
	border-bottom: 1px solid black;
}
.editStatus {
	position: relative;
	top: -56px;
	left: 131px;
	background: whitesmoke;
	width: 90px;
	padding: 5px;
}
.editMulRow {
	position: absolute;
	z-index: 19;
	left: 52px;
	width: 95.5%;
	height: auto;
}
.editAll {
	display: flex;
	padding-bottom: 5px;
	background: darkgray;
}
.editAll :global(input) {
	height: 20px;
	width: 150px;
	margin-left: 5px;
}
.editAll :global(select) {
	height: 25px;
	width: 150px;
	margin-left: 5px;
}
.groupHandleData {
	display: flex;
    justify-content: center;
    position: absolute;
    width: 15%;
    left: 40%;
    background: white;
    height: 50px;
    padding: 10px;
}
.groupHandleData :global(p) {
	cursor: pointer;
}
.groupEditMultiRow > div {
	flex: 1;
}
.saveData {
	width: 71px;
    text-align: center;
    background: #eb5202;
}
.saveData :global(p){
	margin-left: 15px;
}
.cancelData {
	margin-left: 10px;
}
.inputName :global(input) {
	width: 140px;
}
.inputPosition :global(select) {
	width: 150px;
}
.inputOffice :global(input) {
	width: 140px;
	overflow: hidden;
}
.inputAge :global(input) {
	width: 140px;
}
.inputStartDate :global(input) {
	width: 140px;
}
.inputSalary :global(input) {
	width: 145px;
}
.inputStatus :global(select) {
	width: 145px;
}
.allInColumn {
	display: flex;
	height: 35px;
	background: darkgray;
	padding-bottom: 5px;
}
.allInColumn :global(p) {
	margin-left: -5px;
	padding: 0 !important;
}
.allName,
.allPosition,
.allStartDate,
.allAge,
.allSalary,
.allStatus {
	width: 160px;
	text-align: center;
}
.allOffice {
	width: 220px;
	text-align: center;
}
